
<!doctype html>
<html lang="en">

<head>
    <link href="~/stylesheets/fonts.css" rel="stylesheet" />
    <link href="~/stylesheets/screen.css" rel="stylesheet" />
    <meta charset="utf-8" />
    <title>MoneyLoverClone</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="~/stylesheets/edit.css" rel="stylesheet" />
    <link href="~/stylesheets/tab.css" rel="stylesheet" />

</head>
<body>
    <nav class="navigation">
        <div class="row">
            <div class="row">
                <div class="col-lg-3"><h1 style="position: absolute; top: 5%; left: 5%; color: #00986a; ">MoneyLover</h1></div>
                <div class="col-lg-9"><a href="#" class="button button-submit">LOG IN</a></div>
                


            </div>
            <div class="col-lg-2" style="text-align:center; margin-left:43%;">
                <div class="avatar">
                    <img src="https://www.madeofhorn.com/wp-content/uploads/2015/10/money.png" />
                </div>
                <ul class="avatardetail">
                    <li><h3>UserName</h3></li>
                    <li><h3>1000000 VND</h3></li>
                </ul>

            </div>

        </div>
    </nav>


    @RenderBody()
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>